.swiper-pagination-custom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-custom .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #D1D5DB; /* Tailwind gray-300 */
    opacity: 1;
    margin: 0 4px !important;
    transition: all 0.3s ease;
    border-radius: 9999px;
    display: block;
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
    background: #111827; /* Tailwind gray-900 */
    width: 24px;
    border-radius: 4px;
}
