@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-lexend: "Lexend Deca", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-stroke-color: #e8e8e8;
  --color-black-color: #292d32;
  --color-sec-color: #6a7686;
  --color-primary-color: #1053d5;
  --color-light-blue-color: #1053d517;
}

* {
  font-family: "Lexend Deca", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.drawer-enter {
  transform: translateX(-100%);
}
.drawer-enter-active {
  transform: translateX(0);
}
