@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:wght@100..900&display=swap");
@import "tailwindcss";
@import "@toolwind/anchors";

@theme {
  --font-lexend: "Lexend Deca", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-stroke-color: #e8e8e8;
  --color-black-color: #292d32;
  --color-sec-color: #6a7686;
  --color-primary-color: #1053d5;
  --color-light-blue-color: #1053d517;
  --color-red-color: #ff133d;
}

* {
  font-family: "Lexend Deca", sans-serif;
}

.text-responsive-20 {
  @apply text-base md:text-lg lg:text-xl;
}

.text-responsive-18 {
  @apply text-sm md:text-base lg:text-lg;
}

.text-responsive-16 {
  @apply text-xs md:text-sm lg:text-base;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.margin-top-navbar {
  @apply mt-[120px] md:mt-[100px] lg:mt-[121px];
}

.margin-top-sidebar {
  @apply mt-20 md:mt-44 lg:mt-28;
}

body:has(.sidebar.translate-x-0) {
  overflow: hidden;
}

.margin-page {
  @apply mx-4 my-4 md:mx-8 md:my-8 lg:mx-[52px];
}

.border-dashed-custom {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23E8E8E8FF' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.max-w-1176 {
  max-width: 1176px;
}

@media (min-width: 1280px) {
  .max-w-1176 {
    margin-inline: auto;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.drawer-enter {
  transform: translateX(-100%);
}

.drawer-enter-active {
  transform: translateX(0);
}

body:has(.modal-container:popover-open) {
  overflow: hidden;
}

/* Swiper Pagination */
.swiper-pagination-custom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-custom .swiper-pagination-bullet {
  width: 20px;
  height: 4px;
  background: #e8e8e8;
  /* Tailwind gray-300 */
  opacity: 1;
  margin: 0 4px !important;
  transition: all 0.3s ease;
  border-radius: 9999px;
  display: block;
}

@media (min-width: 768px) {
  .swiper-pagination-custom .swiper-pagination-bullet {
    width: 42px;
  }
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
  background: #1053d5;
  /* Tailwind gray-900 */
}

/* Custom Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
