.swiper-pagination-custom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-custom .swiper-pagination-bullet {
  width: 20px;
  height: 4px;
  background: #e8e8e8; /* Tailwind gray-300 */
  opacity: 1;
  margin: 0 4px !important;
  transition: all 0.3s ease;
  border-radius: 9999px;
  display: block;
}

@media (min-width: 768px) {
  .swiper-pagination-custom .swiper-pagination-bullet {
    width: 42px;
  }
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
  background: #1053d5; /* Tailwind gray-900 */
}
