@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import "tailwindcss";

@theme{
  --color-stroke-color: #E8E8E8;
  --color-black-color: #292D32;
}

* {
  font-family: "Lexend Deca", sans-serif;
}
