@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import "tailwindcss";

@theme{
  --color-stroke-color: #E8E8E8;
  --color-black-color: #292D32;
  --color-sec-color: #6A7686;
  --color-primary-color: #1053D5;
  --color-light-blue-color: #1053d517;
}

* {
  font-family: "Lexend Deca", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.drawer-enter {
  transform: translateX(-100%);
}
.drawer-enter-active {
  transform: translateX(0);
}
